.bag1{
    background-color: #80bdff;
}
.bag2{
    background-color: lightgray;
}
.bag3{
    background-color: palegreen;
}
.bag4{
    background-color: #9fcdff;
}
.bag5{
    background-color: #ffe8a1;
}
.bag6{
    background-color: pink;
}
.bag7{
    background-color: lightgrey;
}
.bag8{

}
.bag9{
    background-color: lightgray;
    color: white;
}



