.bag1{
    background-color: pink;
    color: blue;
}
.bag2{
    color: blue;
}
.bag3{
    background-color: lightgrey;
    color: blue;
}
.bag4{
    background-color: #ffe8a1;
    color: blue;
}
.bag5{
    background-color: #80bdff;
    color: blue;
}
input{
    color: black !important;
    background-color: gray !important;
}
.bag10{
    background-color: lightgrey;
    border: 1px solid gray;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
}